# SPDX-FileCopyrightText: 2009- Diego Elio Pettenò
#
# SPDX-License-Identifier: MIT

*.html
*.olinkdb
*~
.bundle/
.sass-cache/
Gemfile.lock
autom4te.cache
chunk.toc.new
config.log
config.status
configure
configure.correct
configure.wrong
epub/
generate
mythbuster-v3.epub
mythbuster.epub
public/
vendor/
