# SPDX-FileCopyrightText: 2009- Diego Elio Pettenò
#
# SPDX-License-Identifier: CC0-1.0

David J Cozatt <olbrannon@gmail.com> <David@.(none)>
David J Cozatt <olbrannon@gmail.com> <david@david-desktop.(none)>
David J Cozatt <olbrannon@gmail.com> <olbrannon@gmail.com>
Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@flameeyes.eu>
Diego Elio Pettenò <flameeyes@flameeyes.com> <flameeyes@gmail.com>
