div#custom-footer {
    border-top: 1px solid silver;
    margin-top: 1em;
    padding-top: 1em;
}

div#widgets {
    float: left;
    padding: 1em;
    text-align: center;
}

div#flattr {
    margin: 1em;
}

img#cc-by-nc-sa {
    border: none;
    margin: 1em;
}
