div#custom-footer {
    border-top: 1px solid silver;
    margin-top: 1em;
    padding-top: 1em;
}

div#widgets {
    float: left;
    text-align: center;
}

div#widgets > div {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

a img {
    border: 0;
}
